In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df=pd.read_csv('./Maintenance.csv')

In [4]:
df.head()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0

In [8]:
len(df['Product ID'].unique())

10000

In [9]:
len(df['UDI'].uniquee())

10000

In [10]:
new_df=df.copy()

In [12]:
new_df.head()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0

In [14]:
new_df.drop(['UDI','Product ID'],axis=1,inplace=True)

In [15]:
new_df.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0

In [16]:
new_df['Type'].value_counts()

L    6000
M    2997
H    1003
Name: Type, dtype: int64

In [17]:
from sklearn.preprocessing import LabelEncoder

In [18]:
enc=LabelEncoder()

In [20]:
enc_type=enc.fit_transform(df['Type'])

In [23]:
np.unique(enc_type)

array([0, 1, 2])

In [24]:
new_df['Type']=enc_type

In [26]:
new_df.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,2,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,1,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,1,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,1,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,1,298.2,308.7,1408,40.0,9,0,0,0,0,0,0

In [28]:
new_df.dtypes

Type                         int32
Air temperature [K]        float64
Process temperature [K]    float64
Rotational speed [rpm]       int64
Torque [Nm]                float64
Tool wear [min]              int64
Machine failure              int64
TWF                          int64
HDF                          int64
PWF                          int64
OSF                          int64
RNF                          int64
dtype: object

In [29]:
new_df.describe()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000
mean,1.19940,300.004930,310.005560,1538.776100,39.986910,107.951000,0.033900,0.004600,0.011500,0.009500,0.009800,0.00190
std,0.60023,2.000259,1.483734,179.284096,9.968934,63.654147,0.180981,0.067671,0.106625,0.097009,0.098514,0.04355
min,0.00000,295.300000,305.700000,1168.000000,3.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,1.00000,298.300000,308.800000,1423.000000,33.200000,53.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
50%,1.00000,300.100000,310.100000,1503.000000,40.100000,108.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
75%,2.00000,301.500000,311.100000,1612.000000,46.800000,162.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
max,2.00000,304.500000,313.800000,2886.000000,76.600000,253.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000

In [32]:
new_df.head(2)

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,2,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,1,298.2,308.7,1408,46.3,3,0,0,0,0,0,0

In [31]:
from sklearn.model_selection import train_test_split

In [33]:
X=new_df.iloc[:,:6]

In [35]:
X.head(1)

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min]
0,2,298.1,308.6,1551,42.8,0

In [36]:
Y=new_df['Machine failure']

In [41]:
!pip install imbalanced-learn

Collecting imbalanced-learn
  Downloading imbalanced_learn-0.11.0-py3-none-any.whl (235 kB)
     -------------------------------------- 235.6/235.6 kB 3.6 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17.3 in c:\users\online\appdata\local\programs\python\python310\lib\site-packages (from imbalanced-learn) (1.23.4)
Requirement already satisfied: scipy>=1.5.0 in c:\users\online\appdata\local\programs\python\python310\lib\site-packages (from imbalanced-learn) (1.10.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\online\appdata\local\programs\python\python310\lib\site-packages (from imbalanced-learn) (1.1.3)
Requirement already satisfied: joblib>=1.1.1 in c:\users\online\appdata\local\programs\python\python310\lib\site-packages (from imbalanced-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\online\appdata\local\programs\python\python310\lib\site-packages (from imbalanced-learn) (3.1.0)
Installing collected packages: imbalanced-learn
Successfully installed imbalanced-learn-0.11.0

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [42]:
from imblearn.over_sampling import SMOTE

In [ ]:
xtrain,xtest,ytrain,ytest=train_test_split()

In [30]:
from sklearn.ensemble import RandomForestClassifier

In [43]:
smote_over_sampling=SMOTE()

In [48]:
over_sampled_data=smote_over_sampling.fit_resample(X,Y)

In [55]:
new_X=over_sampled_data[0]

In [56]:
new_X.head(2)

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min]
0,2,298.1,308.6,1551,42.8,0
1,1,298.2,308.7,1408,46.3,3

In [57]:
new_Y=over_sampled_data[1]
new_Y

0        0
1        0
2        0
3        0
4        0
        ..
19317    1
19318    1
19319    1
19320    1
19321    1
Name: Machine failure, Length: 19322, dtype: int64

In [58]:
new_X.shape

(19322, 6)

In [59]:
new_Y.shape

(19322,)

In [60]:
new_Y.value_counts()

0    9661
1    9661
Name: Machine failure, dtype: int64

In [61]:
from sklearn.model_selection import train_test_split

In [62]:
xtrain,xtest,ytrain,ytest=train_test_split(new_X,new_Y,test_size=0.2)

In [63]:
xtrain.shape,xtest.shape,ytrain.shape,ytest.shape

((15457, 6), (3865, 6), (15457,), (3865,))

In [64]:
from sklearn.ensemble import RandomForestClassifier

In [65]:
forest_model=RandomForestClassifier()

In [66]:
forest_model.fit(xtrain,ytrain)

RandomForestClassifier()

In [67]:
from sklearn.metrics import accuracy_score

In [68]:
ypred=forest_model.predict(xtest)

In [69]:
accuracy_score(ytest,ypred)*100

97.07632600258732

In [70]:
new_df.head(2)

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,2,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,1,298.2,308.7,1408,46.3,3,0,0,0,0,0,0

In [81]:
failure_df=new_df.iloc[:,-5:]

In [83]:
failure_df.head(2)

   TWF  HDF  PWF  OSF  RNF
0    0    0    0    0    0
1    0    0    0    0    0

In [87]:
new_df[failure_df['TWF']==1]

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
77,1,298.8,308.9,1455,41.3,208,1,1,0,0,0,0
1087,0,296.9,307.8,1549,35.8,206,1,1,0,0,0,0
1509,1,298.0,308.5,1429,37.7,220,1,1,0,0,0,0
1682,0,297.9,307.4,1604,36.1,225,1,1,0,0,0,0
1763,1,298.2,307.6,1511,31.0,209,1,1,0,0,0,0
1996,2,298.4,308.0,1416,38.2,198,1,1,0,0,0,0
2166,2,299.6,309.2,1867,23.4,225,1,1,0,0,0,0
2244,2,299.3,308.4,1542,37.5,203,1,1,0,0,0,0
2671,2,299.7,309.3,1399,41.9,221,1,1,0,0,0,0
2864,0,300.6,309.4,1380,47.6,246,1,1,0,0,0,0
2941,2,300.7,309.6,1996,19.8,203,1,1,0,0,0,0
3529,1,301.9,310.9,1567,39.0,214,1,1,0,0,0,0
3611,1,301.7,310.9,1405,46.4,207,1,1,0,0,0,1
3695,1,302.2,311.3,1530,37.3,207,1,1,0,0,0,0
3865,0,302.6,311.5,1629,34.4,228,1,1,0,0,0,0
4034,1,302.0,310.8,1615,29.0,235,1,1,0,0,0,0
4207,2,302.3,310.9,1710,30.4,218,1,1,0,0,0,0
4385,1,301.8,309.7,1442,45.3,233,1,1,0,0,0,0
4469,1,302.7,310.5,1446,40.9,211,1,1,0,0,0,0
4646,1,303.3,311.4,1497,46.0,234,1,1,0,0,0,0
4816,1,303.4,312.0,1521,35.9,215,1,1,0,0,0,0
5141,1,304.4,313.7,1509,35.0,205,1,1,0,0,0,0
5309,2,303.9,313.2,1422,48.0,215,1,1,0,0,0,0
5401,2,302.6,312.3,1454,54.8,253,1,1,0,0,1,0
5909,0,300.7,310.2,1364,65.3,208,1,1,0,1,1,0
5999,2,300.4,310.2,1671,30.5,234,1,1,0,0,0,0
6172,1,300.8,310.6,1577,37.9,227,1,1,0,0,0,0
6256,1,301.0,310.6,1493,37.8,206,1,1,0,0,0,0
6340,0,300.5,309.9,1397,45.9,210,1,1,0,0,0,0
6419,0,300.3,309.9,1394,46.7,210,1,1,0,0,0,0
6759,1,301.7,311.0,1441,44.3,208,1,1,0,0,0,0
7087,1,300.6,310.3,1648,30.5,217,1,1,0,0,0,0
7426,2,300.0,311.4,1692,29.0,216,1,1,0,0,0,0
7510,1,300.5,311.8,1524,38.9,214,1,1,0,0,0,0
7687,2,300.7,311.7,2097,18.9,232,1,1,0,0,0,0
7849,2,300.3,311.7,1374,47.9,222,1,1,0,0,0,0
8111,2,300.4,311.8,1553,33.1,209,1,1,0,0,0,0
8199,1,299.2,310.7,1737,27.0,225,1,1,0,0,0,0
8357,1,298.5,309.5,1385,46.3,203,1,1,0,0,0,0
8609,1,297.4,308.3,1475,40.5,222,1,1,0,0,0,0
8690,1,297.1,308.5,1323,44.4,207,1,1,0,0,0,0
8846,2,297.4,308.8,1325,62.4,204,1,1,0,0,1,0
9018,1,297.3,308.1,1615,35.4,217,1,1,0,0,0,0
9174,1,297.8,308.9,1871,25.6,200,1,1,0,0,0,0
9576,1,299.6,310.7,1922,23.3,205,1,1,0,0,0,0
9758,1,298.6,309.8,2271,16.2,218,1,1,0,0,0,0

In [94]:
new_df[failure_df['TWF']==1]['Machine failure'].value_counts()

1    46
Name: Machine failure, dtype: int64

In [96]:
new_df[failure_df['HDF']==1]['Machine failure'].value_counts()

1    115
Name: Machine failure, dtype: int64

In [97]:
new_df[failure_df['PWF']==1]['Machine failure'].value_counts()

1    95
Name: Machine failure, dtype: int64

In [98]:
new_df[failure_df['OSF']==1]['Machine failure'].value_counts()

1    98
Name: Machine failure, dtype: int64

In [99]:
new_df[failure_df['RNF']==1]['Machine failure'].value_counts()

0    18
1     1
Name: Machine failure, dtype: int64

In [100]:
new_df[failure_df['RNF']==1]

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
1221,2,297.0,308.3,1399,46.4,132,0,0,0,0,0,1
1302,1,298.6,309.8,1505,45.7,144,0,0,0,0,0,1
1748,0,298.4,307.7,1626,31.1,166,0,0,0,0,0,1
2072,1,299.6,309.5,1570,35.5,189,0,0,0,0,0,1
2559,1,299.3,309.0,1447,50.4,140,0,0,0,0,0,1
3065,2,300.1,309.2,1687,27.7,95,0,0,0,0,0,1
3452,0,301.6,310.5,1602,32.3,2,0,0,0,0,0,1
3611,1,301.7,310.9,1405,46.4,207,1,1,0,0,0,1
5471,1,302.7,312.3,1346,61.2,170,0,0,0,0,0,1
5489,1,302.6,312.1,1499,35.0,215,0,0,0,0,0,1
5495,0,302.9,312.5,1357,55.0,12,0,0,0,0,0,1
5509,1,302.8,312.2,1509,36.5,52,0,0,0,0,0,1
5553,1,302.5,311.9,1306,59.7,172,0,0,0,0,0,1
5639,1,302.6,312.1,1668,28.7,180,0,0,0,0,0,1
6091,1,300.9,310.7,1412,57.5,16,0,0,0,0,0,1
6913,1,300.8,311.2,1481,38.5,181,0,0,0,0,0,1
6960,1,300.7,311.0,1413,52.0,91,0,0,0,0,0,1
7488,1,300.3,311.7,1545,43.5,160,0,0,0,0,0,1
7868,0,300.4,311.9,1438,46.7,41,0,0,0,0,0,1

In [103]:
forest_model.predict(new_df[failure_df['RNF']==1].iloc[:,:6])

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int64)

In [104]:
new_df.drop('RNF',axis=1,inplace=True)

In [105]:
new_df.head(3)

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF
0,2,298.1,308.6,1551,42.8,0,0,0,0,0,0
1,1,298.2,308.7,1408,46.3,3,0,0,0,0,0
2,1,298.1,308.5,1498,49.4,5,0,0,0,0,0

In [106]:
df.head(2)

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0

In [131]:
import warnings 
warnings.filterwarnings('ignore')

In [3]:
def predict_machine_failure(model,Type,Air_temp,Process_temp,Rotational_speed,Torque,Tool_wear,TWF,HDF,PWF,OSF):
    if (TWF==1) or (HDF==1) or (PWF==1) or (OSF==1):
        return True
    else:
        predicted=model.predict([[Type,Air_temp,Process_temp,Rotational_speed,Torque,Tool_wear]])
    return True if predicted[0]==1 else False

In [138]:
a,b,c,d,e,f,g,h,i,j,k=new_df.iloc[1,:].values

In [144]:
a,b,c,d,e,f,h,i,j,k

(1.0, 298.2, 308.7, 1408.0, 46.3, 3.0, 0.0, 0.0, 0.0, 0.0)

In [139]:
predict_machine_failure(forest_model,a`,b,c,d,e,f,h,i,j,k)

False

In [140]:
import pickle

In [141]:
pickle.dump(forest_model,open('random_forest_model.pkl','wb'))

In [142]:
temp=pickle.load(open('./random_forest_model.pkl','rb'))

In [143]:
predict_machine_failure(temp,a,b,c,d,e,f,h,i,j,k)

False